/* global */
/* VT323*/
/*████████╗ ██████╗██╗  ██╗███████╗    ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗
  ╚══██╔══╝██╔════╝╚██╗██╔╝██╔════╝    ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝
     ██║   ██║      ╚███╔╝ ███████╗    ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   
     ██║   ██║      ██╔██╗ ╚════██║    ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   
     ██║   ╚██████╗██╔╝ ██╗███████║    ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   
     ╚═╝    ╚═════╝╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   */
@import url('https://fonts.googleapis.com/css?family=Share Tech Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');


/* imagem de fundo  */
body {
background-image: url("../../assets/bg.jpg");
background-color: #000000;
background-repeat: no-repeat;
background-size: 100%;
    }

/*margem entre os botoes e input da home */
.m-b-16 {margin-bottom: 8px;}


/*---------------------------------------------*/
/* efeito das caixas de input */
.login100-form {
  width: 40%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.wrap-input100 {
  position: relative;
  width: 40%;
  z-index: 1;
}
.input100 {
  font-family: Raleway-SemiBold;
  font-size: 18px;
  line-height: 1.2;
  color: #686868;
  text-align: center;
  width: 100%;
  background: #e6e6e6;
  height: 40px;
  border-radius: 3px;
}
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 2px 2px 2px 2px;
  color: rgba(147, 4, 5, 0.9);
}






/*  efeito do botao login */
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.login100-form-btn {
  font-family: Raleway-Bold;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 40%;
  height: 40px;
  border-radius: 3px;
  background: #930405;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
.login100-form-btn:hover {
  background: #333333;
}



/* rodape */
.rodape {
position:fixed;
left:0px;
right:0px;
bottom:0px; 
background:rgb(0,0,0); 
text-align:center; 
border-top: 1px solid #91060d; 
border-bottom: 1px solid #91060d;
}







/*--------------------------------------*/
/* ESTILOS DOS EFEITOS*/
h1 {
    color: #370909;
    font-size: 50px;
    margin: 1px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Orbitron;
}

.neon {
    color: #370909;
    text-shadow: 0 0 5px #b90303, 0 0 10px #b90303, 0 0 30px #c92626, 0 0 45px #c92626, 0 0 60px #c92626;
}
h2 {
    color: #370909;
    font-size: 50px;
    margin: 1px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Orbitron;
}
.neon {
    color: #370909;
    text-shadow: 0 0 5px #b90303, 0 0 10px #b90303, 0 0 30px #c92626, 0 0 45px #c92626, 0 0 60px #c92626;
}
h3 {
    color: #370909;
    font-size: 50px;
    margin: 1px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Orbitron;
}

.neon {
    color: #370909;
    text-shadow: 0 0 5px #b90303, 0 0 10px #b90303, 0 0 30px #c92626, 0 0 45px #c92626, 0 0 60px #c92626;
}


h4 {
    color: #FF0000;
    font-size: 20px;
    margin: 1px auto;
    text-align: center;
    text-transform: uppercase;
    font-family: Orbitron;
}

.neon {
    color: #370909;
    text-shadow: 0 0 5px #b90303, 0 0 10px #b90303, 0 0 30px #c92626, 0 0 45px #c92626, 0 0 60px #c92626;
}


.matrix {
    color: #370909;
    font-family: Arial, Courier, Monotype;
    font-size: 10pt;
    text-align: center;
    width: 10px;
    padding: 0px;
    margin: 0px;
}

.jokitz1 {
    text-align: center;
}

.jokitz2 {
    text-align: center;
    font-family: Courier;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


