/* global */
/* VT323*/
/*████████╗ ██████╗██╗  ██╗███████╗    ██████╗ ██████╗  ██████╗      ██╗███████╗ ██████╗████████╗
  ╚══██╔══╝██╔════╝╚██╗██╔╝██╔════╝    ██╔══██╗██╔══██╗██╔═══██╗     ██║██╔════╝██╔════╝╚══██╔══╝
     ██║   ██║      ╚███╔╝ ███████╗    ██████╔╝██████╔╝██║   ██║     ██║█████╗  ██║        ██║   
     ██║   ██║      ██╔██╗ ╚════██║    ██╔═══╝ ██╔══██╗██║   ██║██   ██║██╔══╝  ██║        ██║   
     ██║   ╚██████╗██╔╝ ██╗███████║    ██║     ██║  ██║╚██████╔╝╚█████╔╝███████╗╚██████╗   ██║   
     ╚═╝    ╚═════╝╚═╝  ╚═╝╚══════╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝  ╚════╝ ╚══════╝ ╚═════╝   ╚═╝   */
@import url('https://fonts.googleapis.com/css?family=Share Tech Mono');
@import url('https://fonts.googleapis.com/css?family=VT323');



.mensagem {
  color: #540303;
  background-color: #540303; 
  border: 2px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
/* ~~ Barra de navegação ~~ */
/*menus do topo*/
.logo {
  float: left;
  padding: -1px;
  margin: 5px;
}

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 150px;
}

.navigation-bar {
  height: 70px;
  width: 100%;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: left;
  background: #101214;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}
/* altera espaçamento fonte e outros */
.navigation-bar li a {
  font-size: 22px;
  text-decoration: none;
  color: white;
  line-height: 70px;
  padding: 5px 11px;
  opacity: none; /* 0.7*/
  text-align: left;
  float: center;
  color: rgb(255, 255, 255);
  padding-left: 1rem;
  font-family: 'VT323', sans-serif;
}

#menu {
  float: right;
}

/*define que todas as div serao caixinhas, com o tamanho de 250px e lado a lado (inline-block) */
div.caixa_imagem {
  width: 250px;
  display: inline-block;
}







/* sistema de botoes com imagem dentro do botao | sem a necessidade do botao em baixo */
button.caixa_imagem {
  width: 250px;
  display: inline-block;
  background-color: #101214; 
  border: none;
}


.colunas_home {
  width: 1200px;
  height: 150px;
  background-color: #101214; 
  border: none;
}




/*SISTEMA DE POP UP INICIO --------- */
/*JANELA DE DOWNLOAD EXCLUSIVA PS3 */
.janelaDownloadPS3 {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* gera o target para poder abrir nossa pop up */
.janelaDownloadPS3:target {
  opacity: 1;
  pointer-events: auto;
}

.janelaDownloadPS3 > div {
  width: 650px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #0E0F0D;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));  
}

.imagem_pequenaPS3 {
  float: left;
  padding: -10px;
  margin: 1px;
  margin-top: 10px;
}

.textoJogoPS3 {
  font-family: 'Share Tech Mono', sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 180px;
  margin-top: 10px;
}
/*botao de download dos jogos dentro da pop up */
.botaoDownloadPS3 {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 16px;
  background-color: #540303; /* Cor do botao cinza */
  border: none;
  color: white;
  display: block;
  margin-top: 1px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;    
  display: inline-block;
}


/* JANELA POPUP DE DOWNLOAD PARA JOGOS COM LINK UNICO PS1 PS2 EMULADORES */
.janelaDownload {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

/* gera o target para poder abrir nossa pop up */
.janelaDownload:target {
  opacity: 1;
  pointer-events: auto;
}

.janelaDownload > div {
  width: 450px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #0E0F0D;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(10,10,9, 5));  
}
/* imagem pequena dentro da popup */
.imagem_pequena {
  float: left;
  padding: -10px;
  margin: 1px;
}

.textoJogo {
  font-family: 'Share Tech Mono', sans-serif;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 180px;
  margin-top: 30px;
}
/*botao de download dos jogos dentro da pop up */
.botaoDownload {
  font-family: 'Share Tech Mono', sans-serif;
  font-size: 16px;
  background-color: #540303; /* Cor do botao cinza */
  border: none;
  color: white;
  display: block;
  margin-top: 6px;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;    
  display: inline-block;
}

/* botao que fecha a pop up */
.botao_fechar {
  background: #010101;
  color: #540303;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* quando passar o mouse sobre fechar a pop up */
.close:hover {
  background: #8E2DE2;
}

/*CSS QUE CONTROLA O RESTO DO TEMPLATE, DEPOIS COMENTO ELE CERTINHO */
/*determina o grid das imagens */
.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
}

/* define o  corpo do html */
body {
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', sans-serif;
  background-color: #101214;
  color: rgb(255, 255, 255);
  text-align: center;
  float: center;  /* aqui estava comentado eliminadno menu */
  font-size: 1.1rem;
}



.wrapper {
  min-height: 100%;
  display: grid;
  /*grid-template-rows: auto 1fr auto;*/
  font-size: 1.3rem;
  text-align: center;
}

/*seta o rodape */
.page-footer {
  flex-shrink: 0;
  background-color: antiquewhite;
}




/* MENUS RODAPE ORGEM ALFABETICA DAS PAGINAS*/
.menuAlfabeto {
  position: fixed;
  left: 0;
  bottom: 9px;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-top: 1px;
  
}

.menuAlfabeto a {
  color: #f2f2f2;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 30px;
}

.menuAlfabeto a:hover {
  background-color: none;
  color: rgb(173,0,0);
}

.menuAlfabeto a.active {
  color: rgb(173,0,0);
  cursor: pointer;
  transition: 0.3s;
}





/* rodape */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  font-size: 1rem;
  padding-top: -2px;
}

.texto_rodape {
  text-align: left;
  color: rgb(255, 255, 255);
  padding-left: 12rem;
  font-family: 'VT323', sans-serif;
  font-size: 12px;
}

/* cor dos links a=href*/
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* quando passar por cima de todas as <a href=*/
a:hover {
  color: rgb(173,0,0);
  cursor: pointer;
  transition: 0.3s;
}



/*animação do simbolo de terminal */
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
